<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<div class="well">
<form class="form-horizontal" action="" method="post" name="login">
    {{form.hidden_tag()}}
	<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="username">Your Username:</label>
				<div class="controls">
				{{ form.username(maxlength = 64, class = "span4") }}
				{% for error in form.errors.username %}
					<span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
				</div>
		</div>
		<div class="control-group{% if form.errors.post %} error{% endif %}">
			<label class="control-label" for="password">Your Password:</label>
				<div class="controls">
				{{ form.password}}
				{% for error in form.errors.password %}
					<span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
				</div>
		</div>
		<div class="control-group">
             <div class="controls">
                <input class="btn btn-primary" type="submit" value="Login">
             </div>
        </div>
    
</form>
</div>
{% endblock %}